*{
  box-sizing: border-box;
  
}

body{
  margin: 0 ;
 font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aqua;
  line-height: 2rem;
  width: 100%;
  min-height: 100vh;
}
#root{
  margin: 1rem;
}
h1{
  text-align: center;
}
.wrap{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  row-gap: 2rem;

}
button{
 width: 150px;
 height: 50px;
  margin: auto;
  border: 0;
  font-weight: bolder;
}
button:hover,button:focus{
  background-color: black;
  color: #fff;
}
@media (min-width:70rem) {
  .wrap{
    grid-template-columns: repeat(4,1fr); 
    max-width: 800px;
    justify-content: center;
  align-items: center;
  margin: 2rem auto;

  }
  button{
  cursor: pointer;
  }
}